@(name:String)

    @main("Welcome to Play") {
        <div>
            <h1>Welcome to @name!</h1>
            <h3>Hey @name! This is play application</h3>
            <div id="rand_num"></div>
        </div>
    }
